<h1>Home Page</h1>
{{#if organisations}}
<hr>
	<h2>Your Organisations</h2>
	<p>Organisations that you belong to.</p>
	<div class="row">
	{{#each organisations}}
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<a href="/orgs/{{this.rid}}"> <h3 class="panel-title">{{this.name}}</h3></a>
			  	</div>
			  	<div class="panel-body">
			    	{{this.description}}
			  	</div>
			</div>
		</div>
	{{/each}}
	</div>
{{/if}}

{{#if teams}}
<hr>
	<h2>Your Teams</h1>
	<p>Teams that you belong to.</p>
	<div class="row">
	{{#each teams}}
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<a href="/teams/{{this.rid}}"> <h3 class="panel-title">{{this.name}}</h3></a>
			  	</div>
			  	<div class="panel-body">
			    	{{this.description}}
			  	</div>
			</div>
		</div>
	{{/each}}
	</div>
{{/if}}

{{#if keys}}
	<h1>Your keys</h1>
	{{#each keys}}
		<div class="key">
			{{#if this.image}}
				<img class="key-image" src="{{this.image}}"/>
			{{/if}}
			<h2 class="key-name">{{this.name}}</h2>
		</div>
	{{/each}}
{{/if}}